<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  {% block body %}
    
  {% endblock %}

  <script data-main="/js/require.init" src="/vendor/requirejs/require.js"></script>
</body>
</html>