{% extends 'layouts/main' %}

{% block body %}
  <div data-server>
    {{ component('my_component', { 'renderSource': 'server' }) }}
  </div>

  <div data-client></div>

  <div data-product-list></div>
{% endblock %}
